.wrap {
  padding: 10px;
}
.movieInfoWrap {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
.addWrap {
  padding: 8px;
}
.addList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
.link {
  color: black;
}
.isActive {
  color: brown;
}
